.preloader {
  margin: 0 auto;
}

.preloader__button {
  border: 0;
  width: 320px;
  height: 36px;
  background-color: #2F2F2F;
  border-radius: 6px;
  color: #FFFFFF;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  margin: 60px auto 80px;
  cursor: pointer;
}

.preloader__button:hover {
  opacity: 0.8;
  transition: 0.2s linear;
}

@media (max-width: 600px) {
  .preloader__button  {
    width: 240px;
  }
}