.register {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 396px;
  margin: 0 auto;
}

.register__logo {
  margin-top: 70px;
  width: 38px;
  height: 38px;
}

.register__logo:hover {
  opacity: 0.6;
  transition: 0.2s linear;
}

.register__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  margin: 40px 0;
}

.register__form {
  margin-bottom: 69px;
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 10px;
  width: 100%;
}

.register__error {
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #EE3465;
  margin-top: -10px;
}

.register__input-title {
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #8B8B8B;
}

.register__input {
  height: 46px;
  background-color: #2F2F2F;
  border-radius: 8px;
  outline: none;
  color: #FFFFFF;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  padding: 0 15px;
  margin-bottom: 10px;
  border: none;
}

.register__input:focus {
  outline: 1px solid #3DDC84;
}

.register__input_error {
    color: #EE3465;
}

.register__button {
  width: 100%;
  background-color: #4285F4;
  border-radius: 3px; 
  height: 45px;
  color: #FFFFFF;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  cursor: pointer;
  border: none;
}

.register__button:hover {
  opacity: 0.8;
  transition: 0.2s linear;
}

.register__button-error {
  background-color: #F8F8F8;
  color: #C2C2C2;
}

.register__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  margin: 16px auto;
  color: #8B8B8B;
}

.register__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #4285F4;
  margin-left: 6px;
}

@media (max-width: 550px) {
  .register {
    width: 260px;
    align-items: center;
  }

  .register__title {
    margin: 50px auto 80px;
  }

  .register__form {
    margin-bottom: 157px;
  }

  .register__text {
    font-size: 12px;
    line-height: 15px;
    margin: 14px auto 30px;
  }

  .register__link {
    font-size: 12px;
    line-height: 15px;
  }

  .register__button {
    font-size: 12px;
    line-height: 15px;
  }
}